
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/papers">Papers</a></li>
		        	<li><a href="/collaborators">Collaborators</a></li>
				<li><a href="/teaching">Teaching</a></li>
	        		<li><a href="/service">Service</a></li>
	        		<li><a href="/awards">Awards</a></li>
				<li><a href="https://github.com/rishibommasani/rishibommasani.github.io/blob/master/cv/CV.pdf">CV</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:nlprishi@stanford.edu">Email</a></li>
				<li><a href="https://twitter.com/RishiBommasani">Twitter</a></li>
				<li><a href="https://scholar.google.com/citations?user=WMBXw1EAAAAJ&hl=en">Google Scholar</a></li>
	        		<li><a href="https://github.com/rishibommasani">Github</a></li>
				<li><a href="https://github.com/rishibommasani/rishibommasani.github.io/blob/master/cv/CV.pdf">CV</a></li>
				</ul>
			</footer>
		</body>
	</html>
